.profile-pic {
    border-radius: 58px;
    width: 30px;
    border-color: wheat;
}

.user-name-container {
    font-size: 12px;
    line-height: 14px;
    height: 14px;
    font-weight: 400;
    padding: 0 15px;
}