.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensures the header stays above other elements */
    background-color: white; /* Optional: Set a background color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for better visibility */
}

.profile-pic {
    border-radius: 58px;
    width: 30px;
    border-color: wheat;
}

.user-name-container {
    font-size: 12px;
    line-height: 14px;
    height: 14px;
    font-weight: 400;
    padding: 0 15px;
}