<!-- @if (userProfileInfo()) { -->
    <div class="nav-container">
        @let userName = userProfileInfo()?.userName;
        <nav class="navbar">
            <ul class="menu">
                @for (item of navItems(); track item.label) {
                    @if(item.display) {
                        <li class="menu-item"><a
                            [routerLink]="item.navigationUrl"  routerLinkActive="active">{{item.label}}</a></li>
                    }
                }
                <li class="menu-item cart" [ngClass]="{'active': iscartUrl()}">
                    <a (click)="navigateTo('cart')">
                        <img src="/assets/shopping-cart-dark.png" alt="Cart" class="cart-icon">
                        <span class="cart-count">{{noOfItemsInCart()}}</span>
                    </a>
                </li>
            </ul>
            @if(userName) {
                <div style="color: white; padding-top: 10px; margin-left: 10px;">
                   Hello, {{userName}}
                </div>
            }
            
        </nav>
    </div>
<!-- } -->
