<!-- <div class="main">
    Chat Works...

    <input type="text" [(ngModel)]="textMessage">
    <button (click)="sendMessage()">Send</button>

    @for (item of charList$ | async; track $index) {
        {{item.messageText}}
    }
</div> -->
<div class="main">
<div class="chat-container">
    <div class="chat-header">
        <h2>Chat Room</h2>
    </div>

    <div class="chat-messages" id="chatMessages">
        @let userName = userProfileInfo().userName;
        @for (item of charList$ | async; track $index) {
        <div [class]="`message-container ${userName === item.userName ? 'self' : 'other'}`">
            <!-- <div class="user-name">By: {{item.userName}}</div> -->
            <div class="message-text">
                <div class="text">{{item.messageText}}</div>
                <div class="time">{{item.messagePostedDate | date :'h:mm a'}}</div>
            </div>
        </div>
        }
    </div>

    <div class="chat-input">
        <input type="text" id="messageInput" placeholder="Type your message..." [(ngModel)]="textMessage" />
        <button (click)="sendMessage()" id="sendButton">{{ isSendingMessage() ? 'Sending...': 'Send'}}</button>
    </div>
</div>
</div>

<!-- <p>{{
    games[3]?.address?.apt
    }}</p>


{{stu?.name}} -->