<div class="login-main">
    <div class="login-container">
        <div class="score-container">
            <div>Score: <b>{{cricketScore().score}}/{{cricketScore().wickets}}</b></div>
            <div>Overs: <b>{{cricketScore().overs}}</b></div>
        </div>
        
        <button (click)="disconnect()">Close Connection</button>

    </div>
    <div class="login-container">
        
        
        <!-- <button (click)="onButtonClick()">Trigger</button> -->
        <!-- <h1>Login</h1> -->
        <!-- <button (click)="incr()">Incr --- {{counter()}} -- {{counter$ | async}}</button> -->
         <!-- {{stocks() | json}} -->
         <!-- <div>
             Bitcoin: {{stocks()?.bitcoin}}
         </div>

         <div style="margin-top: 20px;">
             Ethereum: {{stocks()?.ethereum}}
         </div> -->

<!-- <input type="text" class="custom-input" placeholder="Hover over me"> -->


        <!-- <form [formGroup]="loginForm" id="log_in" (ngSubmit)="login()">
            <div class="form-group" id="userName-sec">
                @let userNameControl = loginForm.get('userName');
                <u-label 
                    [for]="'username'" 
                    [isInValid]="userNameControl.invalid">Username</u-label>
                <input type="text" id="username" placeholder="Username" formControlName="userName">
                @if(!userNameControl.valid && userNameControl.touched && userNameControl.hasError('required')) {
                    <div class="validation-msg">
                    This is required field
                </div>
                }
                
            </div>
            <div class="form-group" id="password-sec">
                @let passwordControl = loginForm.get('password');
                <label for="password">Password</label>
                <input type="password" id="password" placeholder="Password" formControlName="password">
                @if(!passwordControl.valid && passwordControl.touched && passwordControl.hasError('required')) {
                <div class="validation-msg">
                    This is required field
                </div>
                }
            </div>

            <div class="role-main-container">
                <radio-buttons [radioButtonControl]="getRoleControl" [options]="roles" />
            </div>

            <button type="submit" #loginButton > {{ loginApiCallProgress() ? 'Loading...' : 'Login'}}</button>
        </form> -->
    </div>
</div>

    <!-- @defer (on interaction(loginButton); prefetch when loginForm.valid) {
        @if (true) {
        <users-list/>
    } -->
<!-- } -->

<!-- <app-nested-sections /> -->
<section class="section-book">
    <div class="row">
        <div class="book">
            <div class="book__form">
                <div class="center-header u-header-marginn-5">
                    <h2 class="header-teritory"> Login to Continue</h2>
                </div>
                <form class="form" [formGroup]="loginForm" (ngSubmit)="login()">
                    <div class="form__group">
                        <input formControlName="userName" type="text" class="form__input" id="name" name="name" placeholder="Enter User Name" required>
                        <label class="form__label" for="name">Enter User Name</label>
                    </div>
                    <div class="form__group">
                        <input formControlName="password" type="password" class="form__input" id="password" name="password" placeholder="Enter Password"
                            required>
                        <label class="form__label" for="email">Enter Password</label>
                    </div>
                    <button type="submit" #loginButton > {{ loginApiCallProgress() ? 'Loading...' : 'Login'}}</button>
                </form>

            </div>
        </div>
    </div>
</section>

