<div class="main">

    <div class="cards-container">
        @for (item of paginatedRecords(); track $index) {
        @let thumbnail = item.thumbnail;
        <div class="card">
            <img [src]="thumbnail" [alt]="item.title" class="card-image">
            <div class="card-content">
                <h2 class="card-title">{{item.title}}</h2>
                <p class="card-description">{{handleShortDesc(item.short_description)}}</p>
                <div class="footer-section">
                    <div class="platform-section">{{item.platform}}</div>
                    <div><a [href]="item.freetogame_profile_url" target="_blank">Open</a></div>
                </div>
            </div>
        </div>
        } @empty {
        @for(d of [1,2,3,4,5,6]; track $index) {
        <div class="card">
            <div class="skeleton skeleton-header"></div>
            <div class="skeleton skeleton-title"></div>
            <div class="skeleton skeleton-text"></div>
            <div class="skeleton skeleton-text"></div>
            <div class="skeleton skeleton-text" style="width: 60%;"></div>
            <div class="skeleton skeleton-button"></div>
        </div>
        }
        }
    </div>
    <span class="pagination-bar">
        @if(!isLoading) {
        <gbr-pagination [datalist]="gamesList()" [pagesize]="6" (paginatedlisthandler)="handlePaginatedList($event)" />
        } @else {
        <div class="skeleton skeleton-pagination"></div>
        }
    </span>
</div>