<!-- <iframe src="https://www.addictinggames.com/embed/html5-games/19016"  style="border:none"></iframe> -->
<div class="main">
    <div class="cards-container">
        @defer(when isLoading()) {
        @for (item of paginatedRecords(); track $index) {
        <game-card [item]="item" [articleName]="articleName" (selectedGameInfo)="selectedGameInfo($event)"/>
        } @empty {
        @for(d of [1,2,3]; track $index) {
        <div class="card">
            <div class="skeleton skeleton-header"></div>
            <div class="skeleton skeleton-title"></div>
            <div class="skeleton skeleton-text"></div>
            <div class="skeleton skeleton-text"></div>
            <div class="skeleton skeleton-text" style="width: 60%;"></div>
            <div class="skeleton skeleton-button"></div>
        </div>
        }
        }
        } @placeholder {
        <div>Large component placeholder</div>
        }
    </div>
    <span class="pagination-bar">
        @if(!isLoading()) {
        <gbr-pagination [datalist]="gamesList()" [pagesize]="8" (paginatedlisthandler)="handlePaginatedList($event)" />
        } @else {
        <div class="skeleton skeleton-pagination"></div>
        }
    </span>
</div>