@if (selectedCourses.length > 0) {
<button (click)="buyCourses()">Buy Course</button>
}

<table>
    <thead>
        <tr>
            <th>Select/UnSelect</th>
            <th>Title</th>
            <th>Price</th>
        </tr>

    </thead>

    <tbody>
        @for (item of unpurchasedCourses.value(); track $index) {
        <tr>
            <td><input type="checkbox"
                    (change)="item.isSelected = !item.isSelected; onToggleCheckbox($event, item.course_id)"></td>
            <td>{{item.title}}</td>
            <td>{{item.price | currency}}</td>
        </tr>
        }
    </tbody>
</table>