<table>
    <thead>
        <tr>
            <th [style.width]="'calc(100ch)'">Title</th>
            <th>Price</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
        @for (item of paginatedRecords(); track $index) {
        <tr>
            <td [style.width]="'calc(100ch)'">{{item.title}}</td>
            <td>{{item.price | currency}}</td>
            <td [class]="`${categoryClassMap[item.categorys.type] } cat`">{{item.categorys.type}}</td>
        </tr>
        }
    </tbody>
</table>
<div class="pagination-bar">
    <gbr-pagination 
        [datalist]="createdCoursesList()" 
        [pagesize]="10"
        (paginatedlisthandler)="handlePaginatedList($event)" />
</div>