<div class="card">
    
    <div class="card-content">
        @let data = vehicleInfo();
        <h2 class="card-title">{{data.MakeName}}-{{vehicleStore.vehiclesCount()}}</h2>
        <p class="card-author">{{vehicleInfo().VehicleTypeName}}</p>
        <p class="progress-text">{{customVehicle().customId}}</p>
        <!-- <p class="progress-text">{{vehicleInfo().combinedName}}</p> -->
    </div>
    <div class="card-menu">
        <div #action class="menu-icon">•••</div>
    </div>
    <div class="button-section">
        
                    <button (click)="customVehicle().isEligibleForAddToCart ? onSelectedItem(customVehicle()) : removeFromCart(customVehicle().customId)">{{ customVehicle().isEligibleForAddToCart ? 'Add to Cart' : 'Remove From cart' }}</button>
        <button (click)="navigateToDetails(customVehicle())">Details</button>
        <!-- <button (click)="increase()" class="button">Increment-{{counter()}} - {{derivedCounter()}}</button> -->

    </div>
</div>