<div>
  <!-- {{counter()}}
  <button (click)="inc()">Increas Counter</button>
  @if (counter() % 2 === 0 ) {
    {{ doubleCounter() }}
  } -->
  <app-header />
  <div class="body">
    <button id="openModalBtn">Open Modal</button>

    <!-- Modal structure -->
    <div id="myModal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Modal Header</h2>
        <p>This is the content of the modal.</p>
        <div class="modal-footer">
          <button class="btn cancel">Cancel</button>
          <button class="btn confirm">Confirm</button>
        </div>
      </div>
    </div>
  </div>

  <router-outlet />
</div>