<app-modal-host />
@if(resp$ | async; as re) {
<p>Hello</p>
}

<!-- <button (click)="changeUerName()">Change User data</button> -->

<!-- <button (click)="incrId()">Incr</button>
<button (click)="unsub()">Un Sub</button> -->

<app-header />
<div class="extra-padding">
  <router-outlet [routerOutletData]="name()" />
</div>
@if (userProfileInfo()) {
  <app-chat />
}

<!-- Floating Chat Window -->
<!-- Floating Chat Widget -->
<!-- <div class="chat-widget" [class.collapsed]="isCollapsed()">
  <div class="chat-header" (click)="toggleChat()">
    <span>Chat</span>
    <button class="chat-toggle">
      {{ isCollapsed ? '▲' : '▼' }}
    </button>
  </div>

  @if (!isCollapsed()) {
  
  <div class="chat-body">
    <div class="chat-message received">Hi there! 👋</div>
    <div class="chat-message sent">Hello! How are you?</div>
  </div>
  }
  
  @if(!isCollapsed()){
  <div class="chat-input">
    <input type="text" placeholder="Type a message..." />
    <button>Send</button>
  </div>
  }

</div> -->

<!-- Floating Chat Window -->


  <!-- <my-component [first]="counter()" last="'Dont call me a frameworkJS'" middle="'Gun'"></my-component> -->
  <!-- <my-component props={
    first="'Stencil'" 
    last="'Dont call me a frameworkJS'"
  }></my-component> -->
  <!-- <fepoc-tooltip></fepoc-tooltip> -->
  <!-- <fepoc-modal #fepocModalComp></fepoc-modal> -->
   <!-- {{counter()}} -->
  <!-- <button (click)="inc()">Increas Counter</button> -->
 <!-- @if (counter() % 2 === 0 ) {
    {{ doubleCounter() }}
  } -->


    <!-- <div class="drop-down-container">
    <div class="custom-select-container">
      <select id="customSelect">
        <option value="html">Html</option>
        <option value="css">CSS</option>
        <option value="javascript">Javascript</option>
        <option value="reactjs">ReactJS</option>
        <option value="photoshop">Photoshop</option>
      </select>
    </div>
  </div> -->

