<app-modal-host />

  <app-header />

<router-outlet />


  <!-- <my-component [first]="counter()" last="'Dont call me a frameworkJS'" middle="'Gun'"></my-component> -->
  <!-- <my-component props={
    first="'Stencil'" 
    last="'Dont call me a frameworkJS'"
  }></my-component> -->
  <!-- <fepoc-tooltip></fepoc-tooltip> -->
  <!-- <fepoc-modal #fepocModalComp></fepoc-modal> -->
   <!-- {{counter()}} -->
  <!-- <button (click)="inc()">Increas Counter</button> -->
 <!-- @if (counter() % 2 === 0 ) {
    {{ doubleCounter() }}
  } -->
  





    <!-- <div class="drop-down-container">
    <div class="custom-select-container">
      <select id="customSelect">
        <option value="html">Html</option>
        <option value="css">CSS</option>
        <option value="javascript">Javascript</option>
        <option value="reactjs">ReactJS</option>
        <option value="photoshop">Photoshop</option>
      </select>
    </div>
  </div> -->

