table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  th,
  td {
    text-align: left;
    padding: 0.5em;
  }
  
  tr:nth-child(2n) {
    background-color: #daeef4;
  }
  
  thead tr {
    background-color: darkcyan;
    color: white;
  }
  
  tr a,
  tr svg {
    color: darkblue;
  }

  .cat {
    display: inline-block;
    padding: 0.25em 0.6em;
    font-size: 0.75rem;
    font-weight: 600;
    border-radius: 0.25rem;
    color: white;
    // text-transform: uppercase;
    white-space: nowrap;
    margin: 8px;
    
    &.IT {
      background-color: #456BBC;
    }
    &.Sports {
      background-color: #beaa11;
    }
    &.Music {
      background-color: #cb1762;
    }
    &.real-estate {
      background-color: #17cb20;
    }

  }