



.weekdays {
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 0px;
}
.day {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #3b7a57; /* Default green background */
    color: white;
    // font-weight: ;
    font-size: 14px;
    // padding: 5px;
}
.day.selected {
    background-color: #f4a261; /* Selected day background */
    color: black;
}

.active-week {
    background: linear-gradient(to right, #176917, rgb(98, 185, 12));
    color: white;
}

.inactive-week {
    background: linear-gradient(to right, rgb(247, 162, 4), rgb(232, 13, 188));
    color: black;
}