
  
  .table-container {
    margin: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    // border: 1px solid #ddd;
    text-align: left;
  }
  
  .skeleton {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.skeleton-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    height: 30px;
    border-radius: 4px;
}
.skeleton-row span {
    flex: 1;
    height: 100%;
    background-color: #e0e0e0;
    margin: 0 5px;
}
.skeleton-row span:first-child {
    margin-left: 0;
}
.skeleton-row span:last-child {
    margin-right: 0;
}
  