body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.horizontal-menu {
    display: flex;
    justify-content: center;
    background-color: #f8f8f8;
    padding: 10px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.horizontal-menu a {
    margin: 0 15px;
    padding: 10px 0;
    color: #333;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}
// .horizontal-menu a:hover {
//     border-bottom: 2px solid #333;
// }

.active-udemy-menu {
    color: #0c50a2;
   // border-bottom: 2px solid #333;
    //background-color: #5cbfbf;
    color: white;
    border-bottom: 5px solid #5cbfbf;
  

}