<form [formGroup]="createCourseForm">
    <div class="form-row">
        <div class="form-group">
            @let course_id_control = createCourseForm.get('course_id');
            <u-label 
                [for]="'course_id'" 
                [isInValid] = "course_id_control.invalid">
                Course ID
            </u-label>
            <input type="text" id="course_id" formControlName="course_id" placeholder="Enter Course ID">

            @if(course_id_control.invalid && course_id_control.dirty && course_id_control.hasError('maxlength')) {
                <div class="validation-msg">
                    max len is 12.
                </div>
                }

                @if(course_id_control.invalid && course_id_control.dirty && course_id_control.hasError('minlength')) {
                    <div class="validation-msg">
                        min len is 5.
                    </div>
                    }

            @if(course_id_control.invalid && course_id_control.dirty && course_id_control.hasError('required')) {
            <div class="validation-msg">
                This is a required field.
            </div>
            }
            @if(!course_id_control.valid && course_id_control.hasError('exist')) {
            <div class="validation-msg">
                This ID already exist.
            </div>
            }

        </div>
        <div class="form-group">
            <u-label [for]="'title'">Title</u-label>
            <input type="text" id="title" formControlName="title" placeholder="Enter title">
        </div>
        <div class="form-group">
            <u-label [for]="'price'">Price</u-label>
            <input type="number" id="price" formControlName="price" placeholder="Enter price">
        </div>
    </div>

    <div class="form-row">

        <div class="form-group">
            <u-label [for]="'categoryType'">Category Type</u-label>
            <fepoc-drop-down-component [options]="categorys$| async" [displayprops]="['type']"
                (selectedOptionEvent)="selectedOptionEvent($event)" />
        </div>
        <div class="form-group">
            <u-label [for]="'description'">Description</u-label>
            <textarea type="description" id="description" formControlName="description"
                placeholder="Enter Description"></textarea>
        </div>
        <!-- <div class="form-group">
            <button style="margin-top: 22px;" (click)="createCourse()">Create Course</button>
        </div> -->
    </div>
    <button style="margin-top: 22px;" (click)="createCourse()">{{(createCourseLoading$ | async) ? 'Creating.....' : 'Create Course'}}</button>
</form>

<created-courses-list [createdCoursesList]="createdCoursesList$ | async" />