<section>
    <div class="container">
        <div class="card">
          <div class="card-header">
            <h2>Good Morning, Bradley</h2>
            <p>Customer since 2017</p>
          </div>
          <div class="account">
            <div class="account-info green-border">
              <h3>EVERYDAY CHECKING ...3898</h3>
              <h2>$8,279.38</h2>
              <p>Available balance</p>
            </div>
            <div class="account-info yellow-border">
              <h3>PLATINUM CARD ...8499</h3>
              <h2>$4,417.34</h2>
              <p>Outstanding balance</p>
            </div>
          </div>
          <button class="btn">Open a new account</button>
          <div class="credit-score">
            <p>View your FICO® Credit Score</p>
          </div>
        </div>
      </div>
</section>
